<div
  class="bg-dark text-white text-center vh-100 d-flex flex-column justify-content-center align-items-center"
>
  <h1 class="display-4">Bienvenido a SORNA</h1>
  <p class="lead">
    Crea tronchantes historias contadas por tus cómicos favoritos.
  </p>

  <ng-container *ngIf="!isLoggedIn; else loggedInBlock">
    <button
      class="btn btn-primary mt-3"
      data-bs-toggle="modal"
      data-bs-target="#authModal"
    >
      Iniciar sesión
    </button>
    <a routerLink="/chat" class="btn btn-primary mt-3"
      >Continuar sin Iniciar Sesión</a
    >
  </ng-container>

  <ng-template #loggedInBlock>
    <a routerLink="/chat" class="btn btn-success mt-3">Volver al chat</a>
  </ng-template>
</div>

<app-auth-modal></app-auth-modal>
