<div
  class="chat-input-container"
  [ngStyle]="{
    left: isSidebarCollapsed ? '70px' : '250px',
    width: isSidebarCollapsed ? 'calc(100% - 70px)' : 'calc(100% - 250px)'
  }"
>
  <!-- Selector comico -->
  <div
    class="comedian-select-group mb-2 ms-2 mt-auto d-flex align-items-center gap-2"
  >
    <label for="comedian" class="comedian-label text-light mb-0"
      >Comediante:</label
    >
    <select
      id="comedian"
      class="form-select comedian-select bg-dark text-light"
      [(ngModel)]="selectedComedian"
      name="comedian"
      required
    >
      <option *ngFor="let c of comedians" [value]="c.name">
        {{ c.name_comedian }}
      </option>
    </select>
  </div>
  <!-- Input y boton abajo -->
  <div class="input-group">
    <textarea
      [(ngModel)]="promptText"
      class="form-control"
      placeholder="Escribe tu mensaje aquí..."
      rows="4"
      (keyup.enter)="sendPrompt()"
    ></textarea>
    <button class="btn btn-primary send-btn" (click)="sendPrompt()">
      <span class="d-none d-sm-inline">Enviar</span>
      <i class="bi bi-send d-inline d-sm-none"></i>
    </button>
  </div>
</div>
